
<div class="title">
    <h1>{{title}} Pet</h1>
</div>

<app-spiner-bar *ngIf="loading"></app-spiner-bar>

<div class="container">
    <mat-card class="card">
        <h3>
            Dates of the pet
        </h3>

        <form [formGroup]="form" (ngSubmit)="addEditPet()">
            <mat-grid-list cols="2" rowHeight="80px">

                <mat-grid-tile [colspan]="2" >
                    <mat-form-field  class="formName" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" matInput placeholder="Name">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="formName" appearance="outline">
                        <mat-label>Age</mat-label>
                        <input type="number" formControlName="age" matInput placeholder="Age">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="formName" appearance="outline">
                        <mat-label>Race</mat-label>
                        <input formControlName="race" matInput placeholder="Race">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="formName" appearance="outline">
                        <mat-label>Color</mat-label>
                        <input formControlName="color" matInput placeholder="Color">
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field class="formName" appearance="outline">
                        <mat-label>Weight</mat-label>
                        <input type="number" formControlName="weight" matInput placeholder="Weigth">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2">
                    <mat-form-field class="formName" appearance="outline">
                        <mat-label>Description</mat-label>
                        <input formControlName="description" matInput placeholder="Description">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2">
                    <button [disabled]="form.invalid" type="submit" mat-raised-button color="warn">Acept</button>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2">
                    <button mat-raised-button color="primary" routerLink="/petslist">Back to List</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>

    </mat-card>
</div>